{% include '../partials/csscolor.html.twig' %}
{% block content %}
	<div class="uk-section">
		<div class="uk-container">
			<h1 class="color-primary">Hello world!</h1>
			{{ page.content|raw }}
		</div>
	</div>
{% endblock %}
