{% include 'partials/csscolors.html.twig' %}

{% block welcome_style %}
<style media="screen">
.welcome-size{
	width: 100%;
	height: 100vh;
}
</style>
{% endblock %}

{% block anchor %}
<a name="welcome"></a>
{% endblock %}
{% include 'partials/navigation.html.twig' %}
{% block content %}
	<section id="welcome">
		<div class="uk-container">
			<section class="welcome-size">
				<h1>{{page.header.title}}</h1>
				{{page.content|raw}}
			</section>
		</div>
	</section>
{% endblock %}
